<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->
<!--<head>-->
<!--    <title>Spring Security Example</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Welcome, <span th:text="${user.getUsername()}"></span>!</h1>-->
<!--<h2>Your roles:</h2>-->
<!--<ul>-->
<!--    <li th:each="role : ${user.getRoles}" th:text="${role.name()}"></li>-->
<!--</ul>-->

<!--<header>-->
<!--    <nav>-->
<!--        <ul>-->
<!--            <li><a th:href="@{/logout}">Logout</a></li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</header>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome, <span th:text="${user.username}"></span>!</h1>
<h2>Your roles:</h2>
<ul>
    <li th:each="role : ${user.roles}" th:text="${role.roleName}"></li>
</ul>

<header>
    <nav>
        <ul>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav>
</header>
</body>
</html>